h4 {
  background-color : DarkSlateGray;
  color : White;
}

h2 {
  color : navy;
}

h3 {
  background-color: DimGray;
  border : 3px solid DarkSlateGray;
  color : White;
}

h5 {
  font-family: 'BentonSans Book' ;
  color: teal;
}

#message_1 {
    font-family: 'Helvetica' ;
      line-height: 1.6;
    font-weight: 500;
  color : orange;
    background-color: black;
}

#message_2 {
    font-family: 'Helvetica' ;
      line-height: 1.6;
    font-weight: 500;
  color : white;
  background-color: black;
}

#message_3 { 
  font-family: 'Helvetica' ;
    line-height: 1.6;
    font-weight: 500;
  color : LawnGreen;
    background-color: black;
}
